In [11]:
%%writefile H34111130_Week4.cpp

#include <iostream>

int main(){
  int Fn, n=2, Fn_1 = 1, Fn_2 = 0;
  while( n<21 ){
    Fn = Fn_1 + Fn_2;
    std::cout << "F" << n << "=" << Fn << std::endl ;
    Fn_2 = Fn_1;
    Fn_1 = Fn ;
    n = n+1;
    
  }
  

}

Overwriting H34111130_Week4.cpp

In [12]:
%%shell

g++ H34111130_Week4.cpp -o H34111130_Week4;
./H34111130_Week4

F2=1
F3=2
F4=3
F5=5
F6=8
F7=13
F8=21
F9=34
F10=55
F11=89
F12=144
F13=233
F14=377
F15=610
F16=987
F17=1597
F18=2584
F19=4181
F20=6765